.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.lightbox{
  margin: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-right: 1em;
}

gallery {
  background-color: white !important;
}

.search-fields-container {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Adjust the gap between fields as needed */
}

.search-field {
  width: 100%; /* Adjust width as needed */
}